@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');

* {
    font-family: 'Noto Sans Math', sans-serif;
}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    margin-top: 50px;
} 

.app__calculator {
    width: 440px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 10px 0px;
    background: rgba(220, 215, 210);
    border-radius: 25px;
    box-shadow: -1px -10px 5px 1px rgb(0, 0, 0, 0.5), 1px 1px 10px rgb(0, 0, 0, 0.25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 1px solid rgb(105, 95, 85);
    border-left: 7px solid rgb(105, 95, 85);
    border-right: 7px solid rgb(105, 95, 85);
    border-bottom: 3px solid rgb(105, 95, 85);
}